/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color :#807d7d70;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}

.competition-titel {
  color: black;
  
  
}

.competition-plaatje {
  border:3px solid black;
  width: 300px;

  float:left;
  margin-right: 30px;
  margin-bottom: 20px;
}              
.competition-tekst {
  color: black;


  
 

}

.after-competition {
  clear:both;
  color:black;
  
}
  
  


  
  
  
  

}
.huracan{
  width: 300px
}
header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    
}


.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}


/* index pagina */
.plaatje {
  height: 180px;
  width:300px;
  border: solid 5px black;
  margin-bottom: 20px;
}

.links {
  float:left;
}

.rechts {
  float:right;
}

.clearFloat {
  clear:both;
}
.naast-plaatje{
  float:right;
  color:black; 
}